 a {color: #eee; text-decoration: none}
a:hover {color: blue;}
body {overflow: auto; overflow-y: auto;
    margin: 0px;}
#jeeFaceFilterCanvas {
    z-index: 10;
    position: absolute; 
    width: 100%; height: 97.5%;
    top: 20px; left: 0px;
} 